html{
    background-image: linear-gradient(to bottom right, gray, white);
}

body{
    width: 960px;
    margin: auto;
}

header{
    margin-bottom: 20px;
}

#bus-mall{
    border: 0;
    height: 70px;
    width: 140px;
    background-color: aquamarine;
    font-size: 30px;
    font-weight: bold;
}

#selected{
    width: 275px;
    font-size: 14px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
}

section{
    float: right;
}

#product-images{
    width: 660px;
}

.products{
    width: 200px;
    height: 200px;
}

#left{
    margin-right: 25px;
}

#middle{
    margin-right: 25px;
}


section h3{
    width: 200px;
    font-size: 18px;
    margin: 0px;
    display: inline-block;
    text-align: center;
}

#left-text{
    margin-right: 25px;
}

#middle-text{
    margin-right: 25px;
}

hr{
    clear: both;
    height: 10px;
    background-color: #333;
    border: 0;
}

canvas{
    width: 960px !important;
    height: 960px !important;
}